<?xml version="1.0" encoding="UTF-8"?>  
    <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
             xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"  
             version="3.0">  
        <display-name></display-name>  
        <servlet>  
            <servlet-name>GetGraphData1</servlet-name>  
            <servlet-class>my.com.yxcx.graph.GetGraphData1</servlet-class>  
        </servlet>  
        <servlet>  
            <servlet-name>GetGraphData2</servlet-name>  
            <servlet-class>my.com.yxcx.graph.GetGraphData2</servlet-class>  
        </servlet>  
  
        <servlet-mapping>  
            <servlet-name>GetGraphData1</servlet-name>  
            <url-pattern>/GetGraphData1</url-pattern>  
        </servlet-mapping>  
        <servlet-mapping>  
            <servlet-name>GetGraphData2</servlet-name>  
            <url-pattern>/GetGraphData2</url-pattern>  
        </servlet-mapping>  
    </web-app> 
